## Class in object oriented programme

In [1]:
age=(28)

In [2]:
type(age)

int

In [3]:
s=[4,5,7,8,3,6]

In [4]:
type(s)

list

In [5]:
s.append(99)
s

[4, 5, 7, 8, 3, 6, 99]

In [1]:
class person:
    
    def __init__(self,name,age,gender,occupation):
        self.name=name
        self.age=age
        self.gender=gender
        self.occupation=occupation

    # Usises Defune function
    def talk(self):
        print(f"My name is {self.name}.")
        print(f"My age is {self.age}.")
        print(f"My gender is {self.gender}.")
        print(f"my ocupation is {self.occupation}")

In [2]:
p1=person(name="Ashish",age=26,gender="Male",occupation="engineer")
p1

In [8]:
p1.name

'Ashish'

In [9]:
p1.age

26

In [10]:
p2=("Magesh",55,"male","labour")
p2

('Magesh', 55, 'male', 'labour')

In [11]:
print(p2)

('Magesh', 55, 'male', 'labour')

In [12]:
p1.talk()

My name is Ashish.
My age is 26.
My gender is Male.
my ocupation is engineer

## Create a class for bank

In [13]:
class account:

    # Add init constructor
    def __init__(self, ac_no, name, bal=0):
        self.ac_no = ac_no
        self.name = name
        self.bal  = bal

    # Function for diposite money
    def diposite(self,amt):
        self.bal=self.bal+amt
        print(f"Your bank account number is {self.ac_no}.\n your current balance is {self.bal}INR.")
    

    # Function for withraw
    def withraw(self,amt):
        if self.bal>=amt:
            self.bal=self.bal-amt
            print(f"Amount of {amt} INR  withrow from bank account number {self.ac_no}. \n Your current balance is {self.bal} INR.")
        else:
            print(f"Insufficiet Balance \n Current balance is {self.bal} INR.")
        
    # Function to transfer money
    def transfer(self,amt,ac2):
        if self.bal>=amt:
            self.bal=self.bal-amt
            ac2.bal=ac2.bal+amt
            print(f"Amount of {amt} INR is transfer to account {ac2.ac_no}.\n From account number {self.ac_no}.\n Current balance is{self.bal} INR.")
        else:
            print(f"Insufficient Balance in {self.ac_no}. \n current balance is {self.bal} INR")

In [14]:
a1 = account(ac_no=8806023943, name='Ashish', bal=5000)
a1

In [15]:
print(type(a1))

<class '__main__.account'>

In [16]:
a1.name

'Ashish'

In [17]:
a1.bal

5000

In [18]:
# Diposite function

In [19]:
a1.diposite(10000)

Your bank account number is 8806023943.
 your current balance is 15000INR.

In [20]:
a1.bal

15000

In [21]:
# withdrall function

In [22]:
a1.withraw(5000)

Amount of 5000 INR  withrow from bank account number 8806023943.
 Your current balance is 10000 INR.

In [23]:
a1.bal

10000

In [24]:
a1.withraw(150000)

Insufficiet Balance
 Current balance is 10000 INR.

In [25]:
# Transfer function

In [26]:
a2= account(ac_no=7385087460,name='Mangesh',bal=500)
a2

In [27]:
a2.bal

500

In [28]:
a2.withraw(200)

Amount of 200 INR  withrow from bank account number 7385087460.
 Your current balance is 300 INR.

In [29]:
a2.diposite(600)

Your bank account number is 7385087460.
 your current balance is 900INR.

In [30]:
a1.transfer(amt=4000,ac2=a2)

Amount of 4000 INR is transfer to account 7385087460.
 From account number 8806023943.
 Current balance is6000 INR.

In [31]:
a2.bal

4900

In [32]:
a1.bal

6000

In [33]:
a1.transfer(amt=5000,ac2=a2)

Amount of 5000 INR is transfer to account 7385087460.
 From account number 8806023943.
 Current balance is1000 INR.

In [34]:
a2.bal

9900

In [35]:
a1.bal

1000

In [36]:
a2.transfer(10000,ac2=a1)

Insufficient Balance in 7385087460.
 current balance is 9900 INR

In [37]:
a1.bal

1000

In [38]:
a2.bal

9900