In [3]:
def cel (num):
    """ This fun used for fahrenheit_to_celsius conversion"""
    d=((num-32)*5/9)
    return d

In [4]:
cel (83)

28.333333333333332

In [5]:
def far(cel):
    ''' This fun is used for celssious to fahrenheit conversion'''
    e=cel*(9/5)+32
    return e

In [6]:
far(28.3334)

83.00012000000001

In [7]:
def fact(n):
    f=n*(n-1)*(n-2)*(n-3)*(n-4)
    return f

In [8]:
fact(5)

120

In [9]:
fact(6)

720

In [15]:
9*8*7*6*5*4*3*2*1

362880

In [11]:
fact(10)

30240

In [12]:
def count_vowels(string):
  """Counts the number of vowels in a string"""
  vowels = set('aeiouAEIOU')
  count = 0

  for c in string:
    if c in vowels:
      count += 1

  return count

In [13]:
count_vowels("not a git repository  any of the parent directories")

17

In [17]:
# calculate EMI 
def calculate_EMI(P,N,R):
    # Calculate N from year to month
    n=N*12
    # Calculate R from %p.a to %p.m
    r=R/(12*100)
    #EMI calculation 
    x=(1+r)**n
    EMI=P*r*x/(x-1)
    return EMI

In [18]:
calculate_EMI(1500000,15,12)

18002.5209313727

### Marks wise grade 
more than 90: A
80-89 :B
70-79: C
60-69: D
Below 60: F

In [22]:
def get_grde(*marks):
    gr=[]
    for i in marks:
        if i>=90:
            gr.append("A")
        elif i>80 and i<89:
            gr.append("B")
        elif i>70 and i<79:
            gr.append("C")
        elif i>60 and i<69:
            gr.append("D")
        else:
            gr.append("F")
    return gr

In [24]:
get_grde(55,99,66,65,33,120)

['F', 'A', 'D', 'D', 'F', 'A']

In [25]:
### Marks analyze

In [28]:
import pandas as pd

In [35]:
def marks_anal(*marks):
    # Find average of marks
    s=sum(marks)
    c=len(marks)
    avg=s/c
    high=max(marks)
    low=min(marks)

    # no of student Passed
    p=0
    f=0
    for i in marks:
        if i>=60:
            p=p+1
        else:
            f=f+1
    # Create dictioary
    dict={'Average':[avg],
         'Highest_Marks':[high],
         'Lowest_Marks':[low],
         'No_of_pass':[p],
         'No_of_fail':[f]}
    # convert data frme
    df=pd.DataFrame(dict)
    
    return df

In [36]:
marks_anal(44,89,23,99,86,67)

   Average  Highest_Marks  Lowest_Marks  No_of_pass  No_of_fail
0     68.0             99            23           4           2