In [1]:
## Function class 1

In [2]:
### Inbuild Functions in python

In [3]:
print("Hii to all students \n welcome to a ADVANCE PYTHON CLASS")

Hii to all students
 welcome to a ADVANCE PYTHON CLASS

In [4]:
a=[1,2,3,4,5,6]
a

[1, 2, 3, 4, 5, 6]

In [5]:
type(a)

list

In [6]:
len(a)

6

In [8]:
a.append(22)
a

[1, 2, 3, 4, 5, 6, 22, 22]

In [10]:
a.remove(22)

In [11]:
a

[1, 2, 3, 4, 5, 6]

In [12]:
sum(a)

21

In [13]:
max(a)

6

In [14]:
## Define function in python

In [15]:
def sum (a,b,c):
    """This function is ud=sed for addation purpose """
    z = (a+b+c)
    return z

In [17]:
sum(33,44,49)

126

In [18]:
def prod(d,e,f):
    """ This function is used for multiplicaion purpose"""
    x=(d*e*f)
    return x

In [19]:
prod(33,45,66)

98010

In [20]:
""" Makig multiple input functions
Used argument in functions *args """

' Makig multiple input functions\nUsed argument in functions *args '

In [21]:
def arguments(*args):
    for i in args:
        print (i)

In [22]:
arguments(4,5,3,5,3,2)

4
5
3
5
3
2

In [23]:
def sum_many(*nums):
    s=0
    for i in nums:
        s=s+1
    return s

In [24]:
sum_many(44,45,44)

3

In [25]:
def prod_many(*nums):
    p=1
    for i in nums:
        p=p*i
    return p

In [26]:
prod_many(44,6,33,44,65,55)

1370397600

In [27]:
## Keyword arguements **kwarg
###

In [28]:
def keyward_arg(**kwargs):
    for key,value in kwargs.items():
        print(f'{key}:{value}')

In [29]:
a=keyward_arg(name="ashish",grnder="male",mob_number=8806023943,age=26)
a

name:ashish
grnder:male
mob_number:8806023943
age:26

In [32]:
b=keyward_arg(name="umesh",grnder="",mob_number=80873228,age="33")
b

name:umesh
grnder:
mob_number:80873228
age:33

In [31]:
## function calculate hypotenious
## C^2=A^2+B^2

In [33]:
def hyp(a,b):
    """to find hypotenious"""
    c= (a**2+b**2)*1/2
    return c

In [34]:
hyp(1,4)

8.5

In [36]:
hyp(44,56)

2536.0

In [37]:
# Take 3 side of trangle as a input to find make trangle or not
# note sum of 2 side of trangle is always greater than third side

In [38]:
def is_trangle(a,b,c):
    if (a+b)>c and (b+c)>a and (c+a)>b:
        s=True
        print(f"It forms a trangle")
    else:
        s=False
        print(f"Do not forms trangle")

In [39]:
is_trangle(1,2,3)

Do not forms trangle

In [40]:
is_trangle(33,5,33)

It forms a trangle

In [41]:
# Calculate area of a trangle of given side a,b,c
# HERSONS FORMULA = S=(a+b+c)/2
# area =sqrt (s*(s-a)*(s-b)*(s-c))

In [46]:
def area_trangle(x,y,z):
    if is_trangle==True:
        s=(x+y+z)/2
        area=(s*(s-x)*(s-y)*(s-z))**2
    else:
        area=None
    return area

In [47]:
area_trangle(33,44,33)